<div id="home">
  <div class="bg"></div>
  <div class="site-branding">
    <div class="site-title"><h1>fuse</h1></div>
    <div class="site-description"><h3>github for electronic enthusiasts</h3></div>
  </div>
</div>