<div id="creations">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-9">
        <div class="row">

          <% @creations.each do |creation| %>
            <%= render partial: 'creations/creation_box', locals: { creation: creation } %>
          <% end %>

        </div>
      </div>
      <div class="col-sm-3">
        <%= render partial: 'layouts/sidebar', locals: { creations: @creations, users: @users } %>
      </div>
    </div>
  </div>
</div>