aside {
  .panel.panel-default {
    font-size: 0.9em;
    border: 0;
    box-shadow: none;
    margin-bottom: 30px;

    .panel-heading {
      background: none;
      font-weight: bold;
    }

    .panel-body {
      padding: 0;

      .list-group {
        margin: 0;

        .list-group-item {
          border-radius: 0;
          border: 0;
          // border-top: 1px solid #ddd;

          &:first-child {
            border: 0;
          }
        }
      }
    }
  }
}