<footer>
  <div class="container-fluid">
    <p class="text-muted">&copy; <a href="http://www.rajanjamu.com" target="_blank">Rajan Gupta</a> @ <a href="http://www.codeastra.com" target="_blank">CodeAstra</a></p>
  </div>
</footer>

